$border-default: 1px solid #d5d5d5;

body {
	font-family: 'Raleway-Regular';
	font-size: 14px;
	color: #2e2e2e;
	overflow: hidden;
	
	button {
		outline: none;
	}
	button:hover {
		outline: none;
	}
	button:focus {
		outline: none;
	}
	
	.alert {
		position: relative;
		z-index: 9;
		margin: 20px;
		padding: 7px 10px 7px 15px;
		text-transform: capitalize;
		font-size: 12px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.alert-danger {
		/* color: #cb4040; */
		color: #fff;
		background: #e05151;
		border: none;
	}
	.alert-dismissable .close, .alert-dismissible .close {
		top: 0;
		right: 0;
		text-shadow: none;
		opacity: 1;
		background: rgba(0,0,0,.4);
		line-height: 14px;
		padding: 1px 4px 2px 4px;
		border-radius: 100px;
		font-size: 16px;
		color: rgba(255,255,255,.5);
		transition: all linear .15s;
	}
	.alert-dismissable .close:hover, .alert-dismissible .close:hover {
		color: #fff;
		transition: all linear .15s;
	}
	
	.modal .modal-dialog, .modal.in .modal-dialog {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 500px;
		background: transparent;
		border: none;
		padding: 0;
		margin: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		overflow: visible;
		
		.modal-content {
			background: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			
			.modal-header {
				background: #f5f5f5;
				border: 1px solid #d5d5d5;
				border-bottom: none;
				padding-bottom: 0;
				
				h1 {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-family: 'Raleway-ExtraLight';
					font-size: 20px;
					text-transform: uppercase;
					text-align: center;
					padding: 0 0 5px 0;
				}
				.close-custom {
					position: absolute;
					top: -13px;
					right: -13px;
					width: 22px;
					height: 22px;
					margin: 2px;
					background: #fff;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					
					span {
						font-size: 24px;
						position: absolute;
						top: -1px;
						left: -1px;
					}
				}
				.close-custom:hover {
					cursor: pointer;
				}
			}
			.modal-body {
				background: #f5f5f5;
				border: 1px solid #d5d5d5;
				border-top: none;
				padding: 15px 20px 20px 20px;
				margin-top: -1px;
				
				.btn-group {
					width: 100%;
					
					button {
						position: relative;
						width: 100%;
						height: 38px;
						font-size: 12px;
						text-transform: uppercase;
						text-align: left;
						color: #a5a5a5;
						padding: 9px 20px 11px 20px;
						margin: 0;
						background: #fff;
						border: 1px solid #d5d5d5;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						cursor: pointer;
						
						span {
							position: absolute;
							top: 10px;
							right: 20px;
							font-size: 13px;
							color: #858585;
							z-index: 1;
						}
					}
					button:hover, button:hover span {
						color: #2e2e2e !important;
					}
					button:focus, button:focus span {
						color: #a5a5a5 !important;
						box-shadow: none;
					}
					ul {
						right: 30px;
						left: 30px;
						padding: 0;
						margin: 0;
						border: none;
						border-radius: 0;
						box-shadow: none;
						-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
						-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
						box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
						
						li {
							padding: 6px 20px 8px 20px;
							background: #fff;
							border-right: 1px solid #d5d5d5;
							border-bottom: 1px solid #d5d5d5;
							border-left: 1px solid #d5d5d5;
							font-size: 13px;
							color: #858585;
							
							a {
								padding: 0;
								margin: 0;
							}
						}
						li:hover {
							background: #f5f5f5;
							color: #2e2e2e;
							cursor: pointer;
						}
					}
				}
				.btn-group.open .dropdown-toggle {
					color: #2e2e2e !important;
					box-shadow: none;
				}
			}
			.modal-description {
				background: #fff;
				padding: 16px 20px 10px 20px;
				
				h2 {
					font-size: 13px;
					padding: 0 0 5px 0;
					margin: 0;
				}
				p {
					font-size: 11px;
					line-height: 15px;
					color: #858585;
				}
			}
			.modal-footer {
				background: transparent;
				border: none;
				text-align: center;
				
				button {
					font-family: 'Raleway-Light';
					font-size: 12px;
					text-transform: uppercase;
					color: #fff;
					padding: 7px 25px;
					margin: 0;
					border: 3px solid #e5e5e5;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					background: transparent;
					display: inline-block;
					-webkit-transition: all linear .15s;
					transition: all linear .15s;
				}
				button:hover {
					color: #2ec5df;
					border-color: #2ec5df;
					transition: all linear .15s;
				}
				button:focus {
					outline: none;
				}
				button.btn-primary {
					font-family: 'Raleway-Light';
					font-size: 12px;
					text-transform: uppercase;
					color: #858585;
					padding: 10px 25px;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					display: inline-block;
					background: #2ec5df;
					border: none;
					color: #fff;
					-webkit-transition: all linear .15s;
					transition: all linear .15s;
				}
				button.btn-primary:hover {
					text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
					background: #089fb9;
					cursor: pointer;
					-webkit-transition: all linear .15s;
					transition: all linear .15s;
				}
			}
			.modal-footer.modal-double {
			
				button {
					margin: 0 0 0 5px;
				}
				button.btn-primary {
					margin: 0 5px 0 0;
				}
			}
		}
	}
	
	.side-panel .bucket-wrapper {
		height: 40px;
		
		.btn-group {
			width: 100%;
			height: 100%;
			border-bottom: 1px solid #212121;
			
			button {
				width: 100%;
				height: 100%;
				text-transform: uppercase;
				text-align: left;
				font-size: 12px;
				color: #858585;
				padding: 12px 20px;
				background: transparent;
				border-radius: 0;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				
				span {
					position: absolute;
					top: 12px;
					right: 12px;
					font-size: 13px;
					color: #858585;
					z-index: 1;
				}
			}
			button:hover {
				color: #fff !important;
			}
			button:hover span {
				color: #fff !important;
			}
			button:focus, button:focus span {
				color: #858585 !important;
				box-shadow: none;
			}
			ul {
				right: 0;
				left: 0;
				padding: 0;
				margin: 0;
				border: none;
				border-radius: 0;
				box-shadow: none;
				-moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
				-webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
				box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
				
				li {
					padding: 6px 20px 8px 20px;
					background: #fff;
					border-bottom: 1px solid #d5d5d5;
					font-size: 13px;
					text-transform: capitalize;
					color: #858585;
					
					a {
						padding: 0;
						margin: 0;
					}
				}
				li:hover {
					background: #f5f5f5;
					color: #2e2e2e;
					cursor: pointer;
				}
			}
		}
		.btn-group.open .dropdown-toggle {
			background: #f5f5f5;
			border-bottom: 1px solid #e5e5e5 !important;
			color: #2e2e2e !important;
			box-shadow: none;
		}
	}
	
	#webapp-wrapper {
		
		p, h1, h2, h3, h4, h5, h6, ul, li {
			margin: 0;
		}
		a {
			text-decoration: none;
			color: #2e2e2e;
		}
		a:hover {
			text-decoration: none;
		}
		input {
			font-family: 'Raleway-Regular';
			font-size: 12px;
			border: none;
			outline: none;
		}
		button {
			border: none;
			outline: none;
		}
		::-webkit-input-placeholder {
		   color: #858585;
		}
		:-moz-placeholder {
		   color: #858585;
		}
		::-moz-placeholder {
		   color: #858585;
		}
		:-ms-input-placeholder {
		   color: #858585;
		}
			
		.shadow {
			-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
			-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
			box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
		}
		.disable-select {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		.switch {
		position: relative;
		width: 210px;
		height: 40px;
		display: inline-block;
		float: right;
		
		p {
			text-transform: uppercase;
			font-family: 'Raleway-Light';
			font-size: 12px;
			padding: 12px 0;
			color: #2e2e2e;
			display: inline-block;
		}
	}
	.cmn-toggle {
	  position: absolute;
	  margin-left: -9999px;
	  visibility: hidden;
	  display: none;
	}
	.cmn-toggle + label {
	  display: block;
	  position: relative;
	  cursor: pointer;
	  outline: none;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  position: absolute;
	  top: 7px;
	  right: -15px;
	  /* left: 50%; */
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	}
	input.cmn-toggle-round-flat + label {
	  padding: 1px;
	  margin: 0 auto;
	  width: 50px;
	  height: 25px;
	  background-color: #d5d5d5;
	  -webkit-border-radius: 100px;
	  -moz-border-radius: 100px;
	  -ms-border-radius: 100px;
	  -o-border-radius: 100px;
	  border-radius: 100px;
	  -webkit-transition: background 0.15s;
	  -moz-transition: background 0.15s;
	  -o-transition: background 0.15s;
	  transition: background 0.15s;
	}
	input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	  display: block;
	  position: absolute;
	  content: "";
	}
	input.cmn-toggle-round-flat + label:before {
	  top: 1px;
	  left: 1px;
	  bottom: 1px;
	  right: 1px;
	  background-color: #fff;
	  -webkit-border-radius: 100px;
	  -moz-border-radius: 100px;
	  -ms-border-radius: 100px;
	  -o-border-radius: 100px;
	  border-radius: 100px;
	  -webkit-transition: background 0.15s;
	  -moz-transition: background 0.15s;
	  -o-transition: background 0.15s;
	  transition: background 0.15s;
	}
	input.cmn-toggle-round-flat + label:after {
	  top: 4px;
	  left: 4px;
	  bottom: 4px;
	  width: 17px;
	  background-color: #fff;
	  border: 1px solid #d5d5d5;
	  -webkit-border-radius: 52px;
	  -moz-border-radius: 52px;
	  -ms-border-radius: 52px;
	  -o-border-radius: 52px;
	  border-radius: 52px;
	  -webkit-transition: margin 0.15s, background 0.15s;
	  -moz-transition: margin 0.15s, background 0.15s;
	  -o-transition: margin 0.15s, background 0.15s;
	  transition: margin 0.15s, background 0.15s;
	}
	input.cmn-toggle-round-flat:checked + label {
	  background-color: #2ec5df;
	}
	input.cmn-toggle-round-flat:checked + label:after {
	  background-color: #fff;
	  border-color: #2ec5df;
	  margin-left: 24px;
	}
		
		.pagination {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 10px;
			margin: 0;
			border-top: 1px solid #2e2e2e;
			
			ul {
				width: 100%;
				max-width: 280px;
				border: $border-default;
				border-color: #2e2e2e;
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
				border-radius: 100px;
				-khtml-border-radius: 100px;
				
				li {
					width: 14%;
					min-height: 26px;
					border-right: $border-default;
					border-color: #2e2e2e;
					background: #545454;
					font-family: 'Quicksand-Book';
					font-size: 12px;
					text-align: center;
					color: #858585;
					display: inline-block;
					float: left;
					
					a {
						width: 100%;
						height: 100%;
						min-height: 28px;
						padding: 6px 0;			
						font-family: 'Quicksand-Book';
						font-size: 11px;
						text-align: center;
						color: #858585;
						display: block;
					}
					a:hover {
						background: #545454;
						color: #fff;
					}
					p {
						height: 100%;
						min-height: 28px;
						padding: 5px 0;
						cursor: default;
					}
				}
				li:first-child {
					width: 15%;
					background: #545454;
					-webkit-border-top-left-radius: 100px;
					-webkit-border-bottom-left-radius: 100px;
					-moz-border-radius-topleft: 100px;
					-moz-border-radius-bottomleft: 100px;
					border-top-left-radius: 100px;
					border-bottom-left-radius: 100px;
					
					a {
						height: 28px;
						padding: 8px 0;
						color: #2e2e2e;
					}
					a:hover {
						color: #fff;
						-webkit-border-top-left-radius: 100px;
						-webkit-border-bottom-left-radius: 100px;
						-moz-border-radius-topleft: 100px;
						-moz-border-radius-bottomleft: 100px;
						border-top-left-radius: 100px;
						border-bottom-left-radius: 100px;
					}
				}
				li:last-child {
					width: 15%;
					border-right: none;
					background: #545454;
					-webkit-border-top-right-radius: 100px;
					-webkit-border-bottom-right-radius: 100px;
					-moz-border-radius-topright: 100px;
					-moz-border-radius-bottomright: 100px;
					border-top-right-radius: 100px;
					border-bottom-right-radius: 100px;
					
					a {
						height: 28px;
						padding: 8px 0;
						color: #2e2e2e;
					}
					a:hover {
						color: #fff;
						-webkit-border-top-right-radius: 100px;
						-webkit-border-bottom-right-radius: 100px;
						-moz-border-radius-topright: 100px;
						-moz-border-radius-bottomright: 100px;
						border-top-right-radius: 100px;
						border-bottom-right-radius: 100px;
					}
				}
				li.active {
					background: #2e2e2e;
					
					a {
						color: #fff;
					}
					a:hover {
						background: #2e2e2e;
					}
				}
			}
		}
	}
}
#webapp-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	.header {
		position: relative;
		width: 100%;
		height: 50px;
		background: #2e2e2e;
		z-index: 4;
		
		.logo {
			padding: 13px 20px;
			float: left;
			
			a {
				display: inline-block;
				
				img {
					width: 34px;
					float: left;
				}
				h1 {
					font-family: 'Quicksand-Bold';
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 4px;
					color: #fff;
					padding: 0 10px 0 15px;
					margin: 2px 0;
					float: left;
				}
				p {
					font-size: 12px;
					color: #a5a5a5;
					padding: 6px 0 0 0;
					float: left;
				}
			}
			a:hover {
				opacity: .5;
			}
		}
		.controls {
			width: 137px;
			height: 100%;
			float: right;
			
			.user {
				width: 60px;
				height: 100%;
				text-align: center;
				padding: 10px;
				display: inline-block;
				float: right;
				
				img {
					width: 30px;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					float: none;
				}
				.alerts-count {
					position: absolute;
					top: 0;
					right: 0;
					font-family: 'Quicksand-Book';
					font-size: 10px;
					text-align: center;
					color: #fff;
					padding: 1px 5px 0 6px;
					margin: 5px;
					background: #2ec5df;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					display: inline-block;
				}
			}
			a.controls-btn {
				font-size: 12px;
				color: #858585;
				padding: 7px;
				margin: 11px 0 10px 10px;
				background: #1c1c1c;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				-khtml-border-radius: 3px;
				display: inline-block;
			}
			a.controls-btn:hover {
				color: #fff;
			}
			a.controls-btn.active {
				color: #fff;
			}
		}
	}
	#webapp-container {
		position: absolute;
		top: 50px;
		right: 0;
		bottom: 0;
		left: 0;
		background: #f5f5f5;
		
		#webapp-mask {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.75);
			z-index: 5;
			
			.modal-wrapper {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 500px;
			
				.modal-custom {
					width: 100%;
					background: #fff;
					border: $border-default;
					-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.15);
					-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.15);
					box-shadow: 0 1px 1px 1px rgba(0,0,0,.15);
					overflow: visible;
					
					.close-custom {
						position: absolute;
						top: -14px;
						right: -14px;
						width: 22px;
						height: 22px;
						margin: 2px;
						background: #fff;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						
						span {
							font-size: 24px;
							position: absolute;
							top: -1px;
							left: -1px;
						}
					}
					.close-custom:hover {
						cursor: pointer;
					}
					.form {
						width: 100%;
						padding: 20px;
						background: #f5f5f5;
						border-bottom: $border-default;
						
						h1 {
							width: 100%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-family: 'Raleway-ExtraLight';
							font-size: 20px;
							text-transform: uppercase;
							text-align: center;
							padding: 0 0 20px 0;
						}
						.dataset {
							position: relative;
		
							input {
								width: 100%;
								padding: 10px 15px 10px 15px;
								margin: 0;
								background: #fff;
								border: $border-default;
								-moz-border-radius: 100px;
								-webkit-border-radius: 100px;
								border-radius: 100px;
								-khtml-border-radius: 100px;
							}
						
						}
					}
					.info {
						padding: 15px 20px;
						
						h2 {
							font-size: 13px;
							padding: 0 0 5px 0;
						}
						p {
							font-size: 11px;
							line-height: 15px;
							color: #858585;
						}
					}
				}
				.modal-controls {
					width: 100%;
					padding: 20px;
					text-align: center;
					
					button {
						font-size: 12px;
						text-transform: uppercase;
						color: #858585;
						padding: 10px 25px;
						margin: 0;
						border: 3px solid #e5e5e5;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						background: #fff;
						display: inline-block;
						transition: all linear .15s;
					}
					button.primary {
						background: #2ec5df;
						border: none;
						color: #fff;
						transition: all linear .15s;
					}
					button.primary:hover {
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
						background: #089fb9;
						cursor: pointer;
						transition: all linear .15s;
					}
				}
			}
		}
		
		.side-panel.hide {
			width: 0;
			/* transition: all linear .15s; */
		}
		
		.side-panel {
			position: relative;
			width: 300px;
			height: 100%;
			background: #404040;
			overflow: hidden;
			/* transition: all linear .15s; */
			z-index: 2;
			
			.search {
				position: absolute;
				width: 100%;
				height: 42px;
				border-right: $border-default;
				border-bottom: 1px solid #c5c5c5;
				background: #d5d5d5;
				padding: 7px;
				
				.input-container {
					position: relative;

					input {
						width: 100%;
						padding: 6px 15px;
						margin: 0;
						background: #fff;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						font-size: 11px;
						outline: none;
					}
					button {
						position: absolute;
						top: 0;
						right: 0;
						width: 40px;
						height: 27px;
						font-size: 10px;
						color: #fff;
						background: #2ec5df;
						-webkit-border-top-right-radius: 100px;
						-webkit-border-bottom-right-radius: 100px;
						-moz-border-radius-topright: 100px;
						-moz-border-radius-bottomright: 100px;
						border-top-right-radius: 100px;
						border-bottom-right-radius: 100px;
						transition: all linear .15s;
					}
					button:hover {
						text-shadow: 1px 1px 1px rgba(0,0,0,.15);
						background: #089fb9;
						cursor: pointer;
						transition: all linear .15s;
					}
				}
			}
			.dataset-label {
				position: relative;
				width: 100%;
				height: 40px;
				padding: 12px 20px;
				border-right: $border-default;
				border-bottom: 1px solid #c5c5c5;
				background: #d5d5d5;
				
				h1 {
					font-size: 13px;
					text-transform: uppercase;
					color: #2e2e2e;
				}
			}
			.inquiry-wrapper {
				position: absolute;
				top: 40px;
				bottom: 0;
				width: 300px;
				
				.filter {
					position: relative;
					background: #545454;
					border-right: none;
					border-bottom: 1px solid #212121;
					
					button {
						top: 3px;
						right: 3px;
						width: 20px;
						height: 20px;
						padding: 5px;
						background: #2e2e2e;
						font-size: 14px;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						
						span {
							position: absolute;
							top: 3px;
							left: 3px;
						}
					}
				}
				
				.accordion-wrapper .accordionContent ul.entries li a h2 {
					padding: 0 20px 2px 35px;
					text-align: left;
				}
				
				.bucket {
					position: relative;
					width: 100%;
				}
			}
			.accordion-wrapper {
				position: absolute;
				top: 40px;
				bottom: 0;
				width: 300px;
								
				.accordionButton {
					position: relative;
					width: 100%;
					height: 40px;
					font-size: 12px;
					text-transform: uppercase;
					color: #a5a5a5;
					padding: 12px 20px;
					background: #2e2e2e;
					border-bottom: 1px solid #212121;
					float: left;
					
					span {
						position: absolute;
						top: 10px;
						right: 10px;
						padding: 3px;
						background: #1c1c1c;
						color: #858585;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						border-radius: 3px;
						-khtml-border-radius: 3px;
					}
					span.expand {
						display: inline-block;
					}
					span.collapse {
						display: none;
					}
					span.features-category-label {
						position: relative;
						top: inherit;
						right: inherit;
						left: inherit;
						padding: 0 5px;
						background: transparent;
						color: #fff;
					}
				}
				.accordionButton.on {
					border-bottom: 1px solid #212121;
					background: #2e2e2e;
					color: #fff !important;
					
					span.expand {
						display: none;
					}
					span.collapse {
						display: inline-block;
					}
					span.features-category-label {
						color: #2ec5df;
					}
				}
				.accordionButton.over {
					color: #a5a5a5;
					cursor: pointer;
					
					span {
						color: #fff;
					}
					span.features-category-label {
						color: #2ec5df;
					}
				}
				.accordionContent {
					position: relative;	
					width: 100%;
					background: #404040;
					float: left;
					overflow: hidden;
					
					ul.entries {
						width: 100%;
						/* border-bottom: 1px solid #2e2e2e; */
						overflow: auto;
						
						li {
							width: 100%;
							position: relative;
							border-top: 1px solid #2e2e2e;
							
							a {
								padding: 7px 7px 5px 7px;
								display: block;
								
								span {
									position: absolute;
									top: 8px;
									left: 20px;
									font-size: 12px;
									color: #2e2e2e;
								}
								h2 {
									width: 100%;
									font-size: 13px;
									text-transform: capitalize;
									text-align: left;
									color: #fff;
									padding: 0 20px 2px 35px;
								}
								p {
									width: 100%;
									font-family: 'Quicksand-Book';
									font-size: 12px;
									color: #858585;
									padding: 0 20px 0 35px;
								}
							}
							a:hover {
								background: #545454;
								
								span {
									color: #2ec5df;
								}
								h2 {
									color: #fff;
								}
							}
						}
						li:first-child {
							border-top: none;
						}
						li:last-child {
							border-bottom: 1px solid #2e2e2e;
						}
						li.active {
							
							a {
								background: #545454;
								
								span {
									color: #2ec5df;
								}
								h2 {
									color: #fff;
								}
							}
						}
					}
				}
				.accordionContent.home ul.entries {
					position: absolute;
					top: 0;
					bottom: 50px;
				}
				.accordionContent.features-all {
					overflow: inherit;
				}
			}
			.accordion-wrapper.scroll-all {
				overflow: auto;
			}
		}
		
		.content-full {
			left: 0 !important;
			transition: all linear .15s;
		}
		.content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 300px;
			background: #fff;
			-moz-box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
			-webkit-box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
			box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
			transition: all linear .15s;
			z-index: 3;
			
			.controls-wrapper {
				
				.controls {
					position: relative;
					width: 100%;
					height: 40px;
					border-bottom: $border-default;
					background: #f5f5f5;
					overflow: hidden;
					
					a {
						width: 50px;
						height: 100%;
						font-size: 16px;
						text-align: center;
						color: #858585;
						padding: 10px;
						border-right: $border-default;
						background: #fff;
						display: inline-block;
					}
					a:hover {
						color: #2e2e2e;
						-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
						-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
						box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
					}
					#webapp-details {
						position: absolute;
						top: 0;
						right: 51px;
						left: 50px;
						height: 100%;
						
						.input-container {
							width: 50%;
							height: 100%;
							border-right: $border-default;
							float: left;
							
							input {
								width: 100%;
								height: 100%;
								background: transparent;
								padding: 13px 15px 13px 15px;
								margin: 0;
							}
							input:focus {
								background: #fff;
							}
						}
						/*
						.input-container:last-child {
							border: none;
						}
						*/
					}
				}
				.sub-controls {
					width: 100%;
					height: 40px;
					padding: 0 10px;
					border-bottom: $border-default;
					
					a {
						height: 100%;
						padding: 12px 18px 12px 8px;
						color: #858585;
						display: inline-block;
						float: left;
					}
					a:hover {
						color: #2e2e2e;
					}
					.controls-label {
						height: 100%;
						padding: 12px 0;
						float: left;
						
						p {
							text-transform: uppercase;
							font-family: 'Raleway-Light';
							font-size: 12px;
							
							span {
								font-family: 'Quicksand-Book';
								font-weight: 500;
								color: #858585;
								padding: 0 5px;
							}
						}
					}
					.controls-label:last-child {
						float: right;
					}
				}
			}
			.home-section {
				position: absolute;
				top: 40px;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: visible;
			
				.launch-help {
					position: absolute;
					top: 25px;
					right: 30px;
					font-size: 28px;
					color: #e5e5e5;
					transition: all linear .15s;
				}
				.launch-help:hover {
					color: #2e2e2e;
					transition: all linear .15s;
				}
				.splash {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					width: 800px;
					height: auto;
					padding: 10px;
					
					.intro {
						width: 100%;
						text-align: center;
						border-bottom: $border-default;
						
						img {
							width: 85px;
							margin: 0 0 20px 0;
						}
						h1 {
							font-family: 'Raleway-Thin';
							font-size: 23px;
							text-transform: uppercase;
							color: #858585;
							padding: 0 0 5px 0;
						}
						h2 {
							font-family: 'Raleway-Thin';
							font-size: 50px;
							text-transform: uppercase;
							color: #2e2e2e;
							padding: 0 0 15px 0;
						}
						p {
							font-size: 18px;
							font-family: 'Raleway-Light';
							line-height: 26px;
							color: #2e2e2e;
							padding: 0 0 35px 0;
						}
					}
					.option {
						position: relative;
						width: 50%;
						float: left;
						padding: 35px 20px 0 0;
						margin: 0 0 30px 0;
						border-right: $border-default;
						
						span {
							position: absolute;
							top: 37px;
							left: 0;
							font-size: 45px;
							color: #e5e5e5;
						}
						h1 {
							padding: 0 0 4px 60px;
							font-family: 'Raleway-ExtraLight';
							font-size: 23px;
							text-transform: uppercase;
							color: #2ec5df;
						}
						h2 {
							padding: 0 0 10px 60px;
							font-family: 'Raleway-Light';
							font-size: 15px;
							text-transform: uppercase;
							color: #858585;
						}
						p {
							line-height: 24px;
							padding: 0 0 0 60px;
						}
						a {
							font-size: 12px;
							text-transform: uppercase;
							color: #858585;
							padding: 7px 25px;
							margin: 20px 0 0 60px;
							border: 3px solid #e5e5e5;
							-moz-border-radius: 100px;
							-webkit-border-radius: 100px;
							border-radius: 100px;
							-khtml-border-radius: 100px;
							display: inline-block;
							transition: all linear .15s;
						}
						a:hover {
							color: #089fb9;
							border-color: #2ec5df;
							transition: all linear .15s;
						}
					}
					.option:last-child {
						border: none;
						padding: 35px 0 0 20px;
						
						span {
							left: 20px;
						}
					}
				}
				.copyright {
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 0 40px 40px 40px;
					
					p {
						font-size: 11px;
						text-align: center;
						color: #c5c5c5;
					}
				}
			}
			.features-section {
				position: absolute;
				top: 40px;
				right: 0;
				bottom: 82px;
				left: 0;
				padding: 10px;
				overflow: auto;

				.features-empty-placeholder {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					width: 600px;
					text-align: center;	
					
					span {
						font-size: 45px;
						color: #e5e5e5;
						padding: 0 0 20px 0;
						display: inline-block;
					}
					h1 {
						font-family: 'Raleway-ExtraLight';
						font-size: 23px;
						text-transform: uppercase;
						line-height: 30px;
						color: #2ec5df;
						padding: 0 0 10px 0;
					}
					h2 {
						font-family: 'Raleway-Light';
						font-size: 15px;
						text-transform: uppercase;
						color: #858585;
						padding: 0px 0px 20px 0px;
					}
					p {
						line-height: 24px;
					}
				}
				.feature-wrapper {
					position: relative;
					width: 33.33%;
					padding: 10px;
					float: left;
					
					.close-custom {
						position: absolute;
						top: 0;
						right: 0;
						width: 16px;
						height: 16px;
						margin: 2px;
						background: #fff;
						-moz-border-radius: 100px;
						-webkit-border-radius: 100px;
						border-radius: 100px;
						-khtml-border-radius: 100px;
						display: none;
						
						span {
							font-size: 18px;
							position: absolute;
							top: -1px;
							left: -1px;
						}
					}
					.close-custom:hover {
						cursor: pointer;
					}
					.feature {
						width: 100%;
						border: $border-default;

						.form {
							width: 100%;
							padding: 10px;
							background: #f5f5f5;
							border-bottom: $border-default;
							
							h1 {
								width: 100%;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								font-family: 'Raleway-Regular';
								font-size: 12px;
								text-transform: capitalize;
								text-align: left;
								padding: 0 2px 10px 2px;
							}
							.input-container {
								position: relative;
			
								input {
									width: 100%;
									padding: 6px 15px;
									margin: 0;
									background: #fff;
									border: $border-default;
									-moz-border-radius: 100px;
									-webkit-border-radius: 100px;
									border-radius: 100px;
									-khtml-border-radius: 100px;
									font-size: 12px;
								}
								input+ul {
									position: absolute;
									top: 31px !important;
									left: 20px !important;
									right: 20px;
									padding: 0;
									margin: 0;
									border: none;
									-webkit-border-radius: 0;
									-moz-border-radius: 0;
									border-radius: 0;
									
									li {
										border: 1px solid #d5d5d5;
										border-top: none;
										
										a {
											padding: 6px 20px 9px 20px;
											color: #858585;
											font-size: 13px;
										}
										a:hover {
											cursor: pointer;
										}
									}
									li.active {
										
										a {
											color: #2e2e2e;
											background: #f5f5f5;
										}
									}
								}
							}
							
						}
						.range-form {
							
							.input-container {
								width: 50%;
								padding: 0 5px 0 0;
								float: left;
								
								input {
									font-family: 'Quicksand-Book';
								}
							}
							.input-container:last-child {
								padding: 0 0 0 5px;
							}
						}
						.results-count {
							
							.count {
								width: 50%;
								float: left;
								border-right: $border-default;
								text-align: center;
								padding: 5px 10px 10px 10px;
								
								h2 {
									font-family: 'Quicksand-Light';
									font-size: 30px;
									padding: 0;
								}
								p {
									font-size: 11px;
									text-transform: uppercase;
									color: #858585;
									padding: 0;
								}
							}
							.count:last-child {
								border: none;
							}
						}
					}
					.feature:hover {
						-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
						-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
						box-shadow: 0 1px 1px 1px rgba(0,0,0,.075);
					}
				}
				.feature-wrapper:hover .close-custom {
					display: inline-block;
				}
			}
			.results-section {
				position: absolute;
				top: 80px;
				right: 0;
				bottom: 0;
				left: 0;
				overflow: auto;
				padding: 20px 20px 0 20px;
				
				#features-list .results-features {
					
					.results-toggle {
						position: relative;
						width: 100%;
						border: $border-default;
						border-bottom: none;

						h1 {
							font-size: 12px;
							text-transform: uppercase;
							color: #2e2e2e;
							display: inline-block;
							padding: 10px;
							float: left;
						}
						span.results-count {
							min-width: 18px;
							min-height: 18px;
							background: #2ec5df;
							-moz-border-radius: 100px;
							-webkit-border-radius: 100px;
							border-radius: 100px;
							-khtml-border-radius: 100px;
							padding: 2px 6px;
							margin: 7px 0 0 0;
							font-family: 'Quicksand-Book';
							font-size: 10px;
							color: #fff;
							float: left;
						}
						a {
							position: absolute;
							top: 6px;
							right: 6px;
							padding: 3px;
							background: #fff;
							border: $border-default;
							color: #858585;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							-khtml-border-radius: 3px;
						}
						a:hover {
							color: #2e2e2e;
						}
						a.collapse {
							display: none;
						}
						a.expand {
							display: none;
						}
						a.active {
							display: inline-block;
						}
					}
					.results-toggle:hover {
						cursor: pointer;
						
						h1 {
							color: #2e2e2e;
						}
						a {
							color: #2e2e2e;
						}
					}
					.results-toggle.toggle-inactive {
						margin: 0 0 20px 0;
						background: #f5f5f5;
						border-bottom: $border-default;
						
						h1 {
							color: #858585;
						}
					}
					.results-toggle.toggle-inactive:hover {
						
						h1 {
							color: #2e2e2e;
						}
					}
					.results-draw {
						position: relative;
						transition: all linear .15s;
					
						table {
							width: 100%;
							
							thead {
								width: 100%;
								
								tr {
									background: #f5f5f5;
									border-top: $border-default;
									border-left: $border-default;
									
									th {
										position: relative;
										width: 50%;
										font-size: 11px;
										text-transform: uppercase;
										text-align: left;
										color: #858585;
										border-right: $border-default;
										float: left;
										transition: all linear .15s;
										
										.thead-label {
											
									
											p {
												padding: 7px 10px;
												display: inline-block;
												float: left;
											}
											span.sort {
												padding: 8px 10px;
												font-size: 11px;
												float: right;
											}
										}
										.thead-label.thead-label-controls {
											position: absolute;
											right: 82px;
											left: 0;
										}
										a {
											height: 100%;
											border-left: $border-default;
											background: #fff;
											padding: 7px 15px;
											color: #858585;
											display: inline-block;
											float: right;
										}
										a:hover {
											color: #2e2e2e;
										}
										a.results-toggle {
											width: auto;
											position: relative;
											padding: 7px 10px 7px 10px;
											font-size: 13px;
											color: #858585;
											border-top: none;
											border-right: none;
											z-index: 1;
										}
										a.results-toggle:hover {
											color: #2e2e2e;
										}
										a.results-toggle.active {
											color: #2e2e2e;
										}
									}
									th:hover {
										cursor: pointer;
										
										span.sort {
											color: #2e2e2e;
										}
									}
								}
							}
							tbody {
								width: 100%;
								
								tr {
									border: $border-default;
									border-right: none;
									border-bottom: none;
									
									td {
										position: relative;
										width: 50%;
										border-right: $border-default;
										float: left;
										
										p {
											font-size: 12px;
											padding: 10px;
											display: block;
										}
										a {
											font-size: 12px;
											color: #2ec5df;
											padding: 10px 10px 10px 7px;
											border-left: 3px solid #f5f5f5;
											display: block;
											
											p {
												padding: 0;
											}											
											span {
												display: none;
											}
										}
										a:hover {
											color: #089fb9;
											border-color: #2ec5df;
										}
									}
								}
								tr:last-child {
									border-bottom: $border-default;
								}
							}
						}
						table.format-tiles {
						
							tbody tr td {
								width: 33.33%;
								transition: all linear .15s;
								text-align: center;
								
								a {
									padding: 40px 10px;
									
									p {
										padding: 0 0 10px 0;
									}
									span {
										font-size: 12px;
										text-transform: uppercase;
										color: #858585;
										padding: 0;
										display: block;
									}
								}
							}	
						}
						
						ul.results-list-header {
							width: 100%;
							
							li {
								position: relative;
								width: 50%;
								font-size: 11px;
								text-transform: uppercase;
								text-align: left;
								color: #858585;
								background: #f5f5f5;
								border: 1px solid #d5d5d5;
								float: left;
								transition: all linear .15s;
								float: left;
								
								p {
									padding: 7px 10px;
									display: inline-block;
									float: left;
								}
								span.sort {
									padding: 8px 10px;
									font-size: 11px;
									float: right;
								}
								span.sort:hover {
									color: #2e2e2e;
									cursor: pointer;
								}
								a {
									height: 100%;
									border-left: 1px solid #d5d5d5;
									background: #fff;
									padding: 7px 15px;
									color: #858585;
									display: inline-block;
									float: right;
								}
								a:hover {
									color: #2e2e2e;
								}
							}
							li:last-child {
								border-left: none;
							}
						}
						ul.results-list-return {
							width: 100%;
							
							li {
								position: relative;
								width: 50%;
								font-size: 11px;
								text-transform: uppercase;
								text-align: left;
								color: #2e2e2e;
								border: 1px solid #d5d5d5;
								border-top: none;
								float: left;
								
								p {
									font-size: 12px;
									padding: 10px;
									display: block;
								}
							}
							li:nth-child(even) {
								border-left: none;
							}
						}
						ul.results-list-return.features {
							
							li {
								width: 100%;
								
								p {
									width: 50%;
									border-right: 1px solid #d5d5d5;
									display: block;
									float: left;
								}
								p:nth-child(even) {
									border-right: none;
								}
							}
							li:nth-child(even) {
								border-left: 1px solid #d5d5d5;
							}
						}
						
						.pagination {
							position: relative;
							padding: 15px 0;
							margin: 0 0 20px 0;
							border: $border-default;
							border-top: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							
							ul {
								margin: 0 auto;
								border-color: #d5d5d5;
								
								li {
									background: #fff;
									border-color: #d5d5d5;
									
									a:hover {
										background: #f5f5f5;
										color: #2e2e2e;
									}
								}
								li.active a {
									background: #f5f5f5;
									color: #2e2e2e;
								}
								li:first-child {
									
									a {
										color: #858585;
									}
									a:hover {
										background: transparent;
										color: #2e2e2e;
									}
								}
								li:last-child {
									
									a {
										color: #858585;
									}
									a:hover {
										background: transparent;
										color: #2e2e2e;
									}
								}
							}
						}
					}
					.results-draw.results-draw-return {
						
						table {
							
							thead tr th {
								width: 100%;
								
								.thead-label {
									position: absolute;
									right: 224px;
									left: 0;
								}
							}
							tbody tr {
								border-bottom: none;
							
								td {
									border-bottom: $border-default;
								}
							}
						}
						
						ul.results-list-header {
							width: 100%;
							
							li {
								position: relative;
								width: 100%;
								font-size: 11px;
								text-transform: uppercase;
								text-align: left;
								color: #858585;
								background: #f5f5f5;
								border: 1px solid #d5d5d5;
								float: left;
								transition: all linear .15s;
								float: left;
								
								p {
									padding: 7px 10px;
									display: inline-block;
									float: left;
								}
								span.sort {
									padding: 8px 10px;
									font-size: 11px;
									float: right;
								}
								span.sort:hover {
									color: #2e2e2e;
									cursor: pointer;
								}
								a {
									width: auto;
									height: 100%;
									min-height: 27px;
									border: none;
									border-left: 1px solid #d5d5d5;
									background: #fff;
									padding: 7px 15px;
									color: #858585;
									display: inline-block;
									float: right;
								}
								a.layout {
									padding: 8px 15px;
									font-size: 13px;
								}
								a.active {
									color: #2e2e2e;
								}
								a:hover {
									color: #2e2e2e;
								}
							}
						}
						ul.results-list-return {
							width: 100%;
							
							li {
								position: relative;
								width: 50%;
								font-size: 11px;
								text-transform: uppercase;
								text-align: left;
								color: #2e2e2e;
								border: 1px solid #d5d5d5;
								border-top: none;
								float: left;
								
								a {
									font-size: 12px;
									color: #2ec5df;
									padding: 10px 10px 10px 7px;
									border-left: 3px solid #f5f5f5;
									display: block;
									
									p {
										font-size: 12px;
										padding: 0;
										margin: 0 auto;
										display: block;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
									}
									span {
										font-size: 12px;
										text-transform: uppercase;
										color: #858585;
										padding: 0;
										display: block;
										display: none;
									}
								}
								a:hover {
									color: #089fb9;
									border-color: #2ec5df;
								}
							}
							li:nth-child(even) {
								border-left: none;
							}
						}
						ul.results-list-return.format-tiles {
							width: 100%;
							border-right: 1px solid #d5d5d5;
							border-left: 1px solid #d5d5d5;
							
							li {
								width: 33.33%;
								transition: all linear .15s;
								text-align: center;
								border: none;
								border-bottom: 1px solid #d5d5d5;
								border-right: 1px solid #d5d5d5;
								
								a {
									padding: 40px 10px;
									
									p {
										width: 75%;
										padding: 0 0 5px 0;
									}
									span {
										display: block;
									}
								}
							}
							/*
							li:last-child {
								border-right: 1px solid #d5d5d5;
							}
							*/
							li:nth-child(3n) {
								border-right: none;
							}
						}
						
						.pagination {
							position: relative;
							margin-top: -1px;
							border-top: 1px solid #d5d5d5;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
						}
					}
					.results-draw.results-draw-return-features {
						
						table {
							
							thead tr th {
								width: 50%;
								
								.thead-label.thead-label-controls {
									position: absolute;
									right: 156px;
									left: 0;
								}
							}
							tbody tr {
								border-bottom: none;
							
								td {
									border-bottom: $border-default;
								}
								td:nth-child(odd) p {
									color: #858585;
								}
							}
						}
						.pagination {
							margin: 0;
						}
					}
					.draw-collapse {
						height: 0 !important;
						transition: all linear .15s;
						overflow: hidden;	
					}
				}
			}
			.charts-section {
				width: 100%;
				
				.charts-inquiry, .charts-population {
					width: 100%;
					padding: 0 0 20px 0;
					
					.results-toggle {
						position: relative;
						width: 100%;
						background: #f5f5f5;
						border: $border-default;
						border-bottom: none;

						h1 {
							font-size: 12px;
							text-transform: uppercase;
							color: #2e2e2e;
							display: block;
							padding: 10px;
							
							span {
								text-transform: lowercase;
							}
						}
						a {
							position: absolute;
							top: 6px;
							right: 6px;
							padding: 3px;
							background: #fff;
							border: $border-default;
							color: #858585;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							-khtml-border-radius: 3px;
						}
						a:hover {
							color: #2e2e2e;
						}
						a.collapse {
							display: none;
						}
						a.expand {
							display: none;
						}
						a.active {
							display: inline-block;
						}
					}
					.results-toggle:hover {
						cursor: pointer;
						
						h1 {
							color: #2e2e2e;
						}
						a {
							color: #2e2e2e;
						}
					}
					.results-toggle.toggle-inactive {
						margin: 0 0;
						background: #f5f5f5;
						border-bottom: $border-default;
						
						h1 {
							color: #858585;
						}
					}
					.results-toggle.toggle-inactive:hover {
						
						h1 {
							color: #2e2e2e;
						}
					}
					
					.results-draw {
						transition: all linear .15s;
					}
					.draw-collapse {
						height: 0 !important;
						transition: all linear .15s;
						overflow: hidden;	
					}
					
					.charts-all {
						padding: 10px;
						border: $border-default;
					
						.charts-wrapper {
							position: relative;
							width: 33.33%;
							padding: 10px;
							float: left;
							overflow: hidden;
							
							.charts {
								position: relative;
								width: 100%;
								padding: 10px;
								border: 1px solid #d5d5d5;
								background: #f5f5f5;
								overflow: hidden;
								
								a {
									position: absolute;
									top: 0;
									right: 0;
									padding: 8px 10px;
									background: #fff;
									border-bottom: $border-default;
									border-left: $border-default;
									
									span {
										font-size: 11px;
										color: #858585;
									}
								}
								a:hover {
									-moz-box-shadow: 1px 0 1px 1px rgba(0,0,0,.1);
									-webkit-box-shadow: 1px 0 1px 1px rgba(0,0,0,.1);
									box-shadow: 1px 0 1px 1px rgba(0,0,0,.1);
							
									span {
										color: #2e2e2e;
									}
								}
								img {
									width: 100%;
								}
								.chart-placeholder {
									width: 100%;
									background: #f5f5f5;
								}
							}
							.chart-info {
								position: relative;
								width: 100%;
								border: $border-default;
								border-top: none;
								padding: 9px 10px 10px 10px;
								
								h1 {
									width: 250px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									font-family: 'Raleway-Regular';
									font-size: 12px;
									text-transform: capitalize;
									text-align: center;
									color: #2e2e2e;
									padding: 0;
									border: none;
								}
							}
						}
					}
				}
			}
			.actions {
				position: absolute;
				bottom: 0;
				width: 100%;
				border-top: $border-default;
				background: #fff;
				padding: 18px 20px 22px 20px;
				text-align: center;
				
				button {
					font-size: 12px;
					text-transform: uppercase;
					color: #858585;
					padding: 7px 25px;
					margin: 0 10px 0 0;
					border: 3px solid #e5e5e5;
					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
					-khtml-border-radius: 100px;
					background: #fff;
					display: inline-block;
					transition: all linear .15s;
				}
				button:hover {
					color: #089fb9;
					border-color: #2ec5df;
					transition: all linear .15s;
				}
				button:last-child {
					margin: 0 0 0 10px;
				}
				button.primary {
					padding: 10px 25px;
					background: #2ec5df;
					border: none;
					color: #fff;
					transition: all linear .15s;
				}
				button.primary:hover {
					text-shadow: 1px 1px 1px rgba(0,0,0,.15);
					background: #089fb9;
					cursor: pointer;
					transition: all linear .15s;
				}
				button.delete:hover {
					color: #cb4040;
					border-color: #e05151;
				}
				button.actions-inactive {
					opacity: .5;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					filter: alpha(opacity=50);
				}
			}
		}
	}
}